* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'FontHeading';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  /* font-weight: bold; */
  font-display: swap;
}
@font-face {
  font-family: 'FontEmphasis';
  src: url('/fonts/Alpha-Brights.otf') format('opentype');
  font-weight: initial;
  font-display: swap;
}
@font-face {
  font-family: 'FontText';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'FontText';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}
/* @font-face {
  font-family: 'FontText';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'FontText';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
} */
